*Задания*
1. Скачать данные по ссылке
#https://www.kaggle.com/datasets/ionaskel/laptop-prices

2. Считать данные с помощью pandas

3. Вывести на экран первые 5 строк

1.1 Создать новый признак Cpu_Company, который будет
содержать только название фирмы, которая произвела CPU

1.2 Создать новый признак Memory_Amount, который будет
содержать только количество Gb памяти без указания типа
носителя

1.3 Создать новый признак Memory_Type, который будет
содержать только тип носителя (HDD/SDD/др.)

1.4 Удалите признаки Memory и ScreenResolution

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("laptopPrice.csv")

In [7]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              823 non-null    object
 1   processor_brand    823 non-null    object
 2   processor_name     823 non-null    object
 3   processor_gnrtn    823 non-null    object
 4   ram_gb             823 non-null    object
 5   ram_type           823 non-null    object
 6   ssd                823 non-null    object
 7   hdd                823 non-null    object
 8   os                 823 non-null    object
 9   os_bit             823 non-null    object
 10  graphic_card_gb    823 non-null    object
 11  weight             823 non-null    object
 12  warranty           823 non-null    object
 13  Touchscreen        823 non-null    object
 14  msoffice           823 non-null    object
 15  Price              823 non-null    int64
 16  rating             823 non-null    object
 17  Number of Ratings  823 non-null    int64
 18  Number of Reviews  823 non-null    int64
dtypes: int64(3), object(16)
memory usage: 122.3+ KB

In [9]:
df.describe()

               Price  Number of Ratings  Number of Reviews
count     823.000000         823.000000         823.000000
mean    76745.177400         315.301337          37.609964
std     45101.790525        1047.382654         121.728017
min     16990.000000           0.000000           0.000000
25%     46095.000000           0.000000           0.000000
50%     64990.000000          17.000000           2.000000
75%     89636.000000         139.500000          18.000000
max    441990.000000       15279.000000        1947.000000

1.1 Создать новый признак ram_size, который будет
содержать количество оперативной памяти

In [10]:
def kolk(value): 
    return int(value.split()[0])

In [13]:
df["ram_size"] = df["ram_gb"].apply(kolk)

In [14]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews,ram_size
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0,4
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5,4
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1,4
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0,8
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0,4

In [15]:
df.index

RangeIndex(start=0, stop=823, step=1)

1.2. Создать новый признак all_size, который будет содержать сумму памяти ssd и hdd

In [23]:
def calc_all_size(row):
    ssd_size = int(row["ssd"].split()[0])
    hdd_size = int(row["hdd"].split()[0])
    return ssd_size+hdd_size

In [24]:
df["all_size"]=df.apply(calc_all_size, axis=1)

In [25]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,...,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews,ram_size,all_size
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,...,Casual,No warranty,No,No,34649,2 stars,3,0,4,1024
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,...,Casual,No warranty,No,No,38999,3 stars,65,5,4,1024
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,...,Casual,No warranty,No,No,39999,3 stars,8,1,4,1024
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,...,Casual,No warranty,No,No,69990,3 stars,0,0,8,512
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,...,Casual,No warranty,No,No,26990,3 stars,0,0,4,512

In [27]:
df["weight"].value_counts()

weight
Casual        520
ThinNlight    264
Gaming         39
Name: count, dtype: int64

## Задание 3.
Создайте датафрейм с клиентами:

clients = pd.DataFrame({
'client_id': [45, 32, 67, 33, 43],
'laptop_id': [506, 398, 710, 120, 1999]
})
laptop_id - это индексы датафрейма с ноутбуками

3.1 Присоедините к таблице clients данные по ноутбукам
через метод join

3.2 Присоедините к таблице clients данные по ноутбукам
через метод merge

Это нужно, чтобы понимать, какие ноутбуки покупались клиентами

In [57]:
clients = pd.DataFrame({

    'client': ["John", "Ваня", "Игорь", "ООО Рога и копыта", "дядя Петя"],

    'laptop_id': [506, 398, 710, 1, 2]

})

In [58]:
clients

              client  laptop_id
0               John        506
1               Ваня        398
2              Игорь        710
3  ООО Рога и копыта          1
4          дядя Петя          2

In [59]:
clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client     5 non-null      object
 1   laptop_id  5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [60]:
clients.set_index("laptop_id",inplace=True)

In [61]:
clients

                      client
laptop_id
506                     John
398                     Ваня
710                    Игорь
1          ООО Рога и копыта
2                  дядя Петя

In [62]:
joined = clients.join(df)

In [63]:
joined

,client,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews,ram_size,all_size
laptop_id,,,,,,,,,,,,,,,,,,,,,
506,John,MSI,Intel,Core i7,11th,16 GB,LPDDR4X,512 GB,0 GB,Windows,...,Casual,1 year,No,No,89990,3 stars,0,0,16,512
398,Ваня,Avita,Intel,Core i5,8th,8 GB,DDR4,512 GB,0 GB,Windows,...,ThinNlight,No warranty,No,No,73063,3 stars,17,3,8,512
710,Игорь,DELL,AMD,Ryzen 5,Not Available,4 GB,DDR4,512 GB,0 GB,Windows,...,Casual,1 year,No,No,98920,3 stars,0,0,4,512
1,ООО Рога и копыта,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,...,Casual,No warranty,No,No,38999,3 stars,65,5,4,1024
2,дядя Петя,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,...,Casual,No warranty,No,No,39999,3 stars,8,1,4,1024

In [74]:
merged = pd.merge(clients,df,left_index=True,right_index=True)